Repository b-vitamins/openalex-python: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core, Models, Client

refactor(tests): load fixtures from data files
  tests/conftest.py
  tests/fixtures/data/A5023888391.json
Due: none

test: add network blocking plugin
  benchmarks/test_performance.py
  tests/__init__.py
  tests/behavior/test_entities.py
  tests/helpers/http.py
  tests/plugins/__init__.py
  tests/plugins/network.py
  tests/test_network_block.py
Due: none

fix(tests): update fixtures and coverage
  .coveragerc
  tests/behavior/test_pagination.py
  tests/models/test_author.py
  tests/models/test_concept.py
  tests/models/test_funder.py
  tests/models/test_institution.py
  tests/models/test_publisher.py
  tests/models/test_source.py
  tests/models/test_topic.py
  tests/models/test_work.py
Due: none

test(params): cover parameter utilities
  .coveragerc
  tests/utils/test_params.py
Due: none

test: add coverage for async entities
  .coveragerc
  tests/test_async_entities.py
Due: none

test(async_entities): assert logged messages
  tests/test_async_entities.py
Due: none

test(funder): add coverage for funder model
  .coveragerc
  tests/models/test_funder_extra.py
Due: none

test: cover Source model
  .coveragerc
  CHANGELOG.md
  tests/models/test_source_extra.py
Due: none

test: cover institution model
  .coveragerc
  CHANGELOG.md
  tests/models/test_institution_extra.py
Due: none

test: cover pagination utilities
  .coveragerc
  CHANGELOG.md
  tests/utils/test_pagination_extra.py
Due: none

test(metrics): cover performance metrics collector
  .coveragerc
  CHANGELOG.md
  tests/metrics/test_performance_extra.py
Due: none

deps: synchronize dependency files with pyproject.toml
  CHANGELOG.md
  manifest.scm
  requirements-dev.txt
  requirements.txt
Due: none

config: migrate from mypy to pyright for type checking
  CHANGELOG.md
  pyproject.toml
Due: none

refactor: make LogicalExpression class public
  CHANGELOG.md
  openalex/query.py
  openalex/utils/params.py
Due: unittests, Core

fix: resolve type checking warnings in utilities and models
  CHANGELOG.md
  openalex/models/publisher.py
  openalex/models/topic.py
  openalex/utils/common.py
Due: unittests, Core, Models

fix: resolve possibly unbound cache_key variable
  CHANGELOG.md
  openalex/api.py
Due: unittests, Core, Client

refactor: improve type annotations for generic collections
  CHANGELOG.md
  openalex/entities.py
  openalex/utils/pagination.py
Due: unittests, Core, Client

fix: resolve type assignment and method call issues
  CHANGELOG.md
  openalex/async_entities.py
  openalex/client.py
  openalex/models/work.py
Due: unittests, Core, Models, Client

docs: integrate comprehensive test naming convention
  CHANGELOG.md
  tests/README.md
Due: none

test: add new unit test structure and benchmarks
  CHANGELOG.md
  benchmarks/test_benchmarks.py
  tests/fixtures/data/A-api-response.json
  tests/fixtures/data/W-api-response.json
  tests/helpers/__init__.py
  tests/helpers/base.py
  tests/unit/metrics/test_performance.py
  tests/unit/middleware/test_middleware.py
  tests/unit/models/test_author.py
  tests/unit/models/test_concept.py
  tests/unit/models/test_filter_models.py
  tests/unit/models/test_funder.py
  tests/unit/models/test_institution.py
  tests/unit/models/test_keyword.py
  tests/unit/models/test_publisher.py
  tests/unit/models/test_source.py
  tests/unit/models/test_topic.py
  tests/unit/models/test_work.py
  tests/unit/models/test_work_validation.py
  tests/unit/resilience/test_resilience.py
  tests/unit/streaming/test_streaming.py
  tests/unit/test_async_entities.py
  tests/unit/test_metrics.py
  tests/unit/utils/test_ids.py
  tests/unit/utils/test_pagination.py
  tests/unit/utils/test_params.py
  tests/unit/utils/test_retry.py
  tests/unit/utils/test_text.py
  tests/unit/utils/test_utils.py
  tests/unit/utils/test_validation.py
Due: none

test: add comprehensive behavior test suite
  CHANGELOG.md
  tests/behavior/test_batch_operations.py
  tests/behavior/test_cache_warming.py
  tests/behavior/test_isolation_verification.py
  tests/behavior/test_network_block.py
  tests/behavior/test_operation_timeouts.py
  tests/behavior/test_pagination_behavior.py
Due: none

test: update test configuration and existing test files
  CHANGELOG.md
  tests/__init__.py
  tests/behavior/test_async.py
  tests/behavior/test_client.py
  tests/behavior/test_entities.py
  tests/behavior/test_exceptions.py
  tests/conftest.py
  tests/fixtures/api_responses.py
  tests/helpers/http.py
  tests/integration/test_cache_performance.py
Due: none

test: remove legacy test structure
  CHANGELOG.md
  benchmarks/test_performance.py
  tests/base.py
  tests/behavior/test_pagination.py
  tests/cache/test_memory.py
  tests/metrics/test_performance_extra.py
  tests/models/test_author.py
  tests/models/test_concept.py
  tests/models/test_filter_models.py
  tests/models/test_funder.py
  tests/models/test_funder_extra.py
  tests/models/test_institution.py
  tests/models/test_institution_extra.py
  tests/models/test_keyword.py
  tests/models/test_publisher.py
  tests/models/test_source.py
  tests/models/test_source_extra.py
  tests/models/test_topic.py
  tests/models/test_work.py
  tests/models/test_work_validation.py
  tests/plugins/__init__.py
  tests/plugins/network.py
  tests/test_async_entities.py
  tests/test_batch_operations.py
  tests/test_cache_warming.py
  tests/test_isolation_verification.py
  tests/test_metrics.py
  tests/test_middleware.py
  tests/test_network_block.py
  tests/test_operation_timeouts.py
  tests/test_resilience.py
  tests/test_streaming.py
  tests/test_validation.py
  tests/utils/test_ids.py
  tests/utils/test_pagination_extra.py
  tests/utils/test_params.py
  tests/utils/test_retry.py
  tests/utils/test_text.py
  tests/utils/test_utils.py
Due: none

config: update project configuration for new structure
  .github/workflows/python.yml
  .gitignore
  CHANGELOG.md
  pytest.ini
Due: none

chore: regenerate lock files
  poetry.lock
  requirements-dev.txt
  requirements.txt
Due: none

update README.md
  README.md
  tests/README.md
Due: none

refactor: implement template-based entity architecture
  openalex/async_entities.py
  openalex/entities.py
  openalex/templates.py
Due: unittests, Core, Client

feat: enhance connection layer with improved retry handling
  openalex/connection.py
Due: unittests, Core, Client

refactor: consolidate exception system
  openalex/exceptions.py
Due: unittests, Core

improve: enhance query system filter handling
  openalex/query.py
Due: unittests, Core

improve: update model validation and type safety
  openalex/models/author.py
  openalex/models/base.py
  openalex/models/concept.py
  openalex/models/filters.py
  openalex/models/funder.py
  openalex/models/institution.py
  openalex/models/publisher.py
  openalex/models/source.py
  openalex/models/topic.py
  openalex/models/work.py
Due: unittests, Models

improve: enhance cache and metrics systems
  openalex/cache/manager.py
  openalex/metrics/collector.py
  openalex/metrics/performance.py
Due: unittests, Core

improve: update parameter handling utilities
  openalex/utils/params.py
Due: unittests, Core

test: update test suite for new architecture
  tests/behavior/test_async.py
  tests/behavior/test_config.py
  tests/behavior/test_exceptions.py
  tests/helpers/base.py
  tests/integration/test_cache_performance.py
  tests/integration/test_complex_queries.py
  tests/integration/test_pagination_edge_cases.py
  tests/unit/middleware/test_middleware.py
  tests/unit/resilience/test_resilience.py
  tests/unit/test_async_entities.py
  tests/unit/test_entity_compatibility.py
  tests/unit/test_metrics.py
  tests/unit/test_templates.py
Due: none

improve: enhance logging module type safety
  openalex/logging.py
Due: unittests, Core

docs: update CHANGELOG.md with recent improvements
  CHANGELOG.md
Due: none

build: update Python requirement to 3.11.11 or above
  pyproject.toml
Due: none

build: update poetry.lock dependencies
  poetry.lock
Due: none

Path conditions:
  unittests: any of: openalex/, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi
  Core: any of: openalex/*.py, openalex/utils/**, openalex/cache/**, openalex/resilience/**, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi
  Models: any of: openalex/models/**, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi
  Client: any of: openalex/client.py, openalex/api.py, openalex/connection.py, openalex/async_entities.py, openalex/entities.py, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi
